body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.field-title {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.field-title:focus {
    border-color: #007bff;
}

.btn-create {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.btn-create:hover {
    background: #0056b3;
}

.btn-load {
    background: #6c757d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.btn-load:hover {
    background: #565e64;
}

hr {
    border: 0;
    height: 2px;
    background: #ddd;
}