body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#field {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(30, 10px);
    gap: 5px;
    width: 100%;
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field-part {
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 2px;
    cursor: pointer;
}

.disabledgrid {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabledpixel {
    pointer-events: none;
    cursor: not-allowed;
}

.color-picker-container {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.color-picker {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #ffffff; /* Couleur de fond */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.color-picker:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
}

.color-picker:focus {
    outline: none; /* Supprimer la bordure de mise au point */
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input[type="button"] {
    background-color: #007bff; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 5px;
}

input[type="button"]:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

.container-user{
    position: absolute;
    top: 5px;
    float: right;
}